<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

    <!-- <div class="text-right">
        <span class="badge badge-info">Carlitos</span>
        <p>Este es un mensaje del chat</p>
    </div>

    <div>
        <span class="badge badge-success">Otro</span>
        <p>Respuesta</p>
    </div> -->

    <div *ngFor="let chat of chatService.chats" [ngClass]="{ 'text-right': chatService.usuario.uid == chat.uid }">
        <span class="badge" [ngClass]="{ 'badge-info': chatService.usuario.uid == chat.uid, 'badge-success': chatService.usuario.uid != chat.uid }">{{  chat.nombre }}</span>
        <p>{{ chat.mensaje }}</p>
    </div>

</div>

<input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Ingrese mensaje" (keyup.enter)="enviarMensaje()">